<div class="testblock">
    <div>
        your selected option is:
        {{selected member}}
    </div>
    <div>
        <select>
            {{#groupmembers}}
                <option>
                    {{fullname}}
                </option>
            {{/groupmembers}}
        </select>
    <div>
</div>
